#card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card {
    transform-style: flat;
}

.card__translater,
.card__rotator {
    display: grid;
    perspective: var(--distance);
    border: none;
    background: transparent;
    padding: 0;
    appearance: none;
}

.card__translater {
    /*width: auto;*/
    position: relative;
}

.card__rotator * {
    display: grid;
    grid-area: 1/1;
    max-height: 70vh;
    max-width: 70vw;
    /*width: 100%;*/
}

.card__rotator img {
    /*height: auto;*/

    border-radius: 4.55% / 3.5%;
    /*aspect-ratio: 0.718;*/
}

.card__rotator {
    transform: rotateY(var(--rotate-y)) rotateX(var(--rotate-x));
    transform-style: preserve-3d;

    border-radius: 4.55% / 3.5%;
    /*aspect-ratio: 0.718;*/
}

.card__shine {
    overflow: hidden;

    mix-blend-mode: color-dodge;

    z-index: 3;
    opacity: var(--card-opacity);

    border-radius: 4.55% / 3.5%;

    --r-clr-1: hsl(0, 57%, 37%);
    --r-clr-2: hsl(40, 53%, 39%);
    --r-clr-3: hsl(90, 60%, 35%);
    --r-clr-4: hsl(180, 60%, 35%);
    --r-clr-5: hsl(180, 60%, 35%);
    --r-clr-6: hsl(210, 57%, 39%);
    --r-clr-7: hsl(280, 55%, 31%);

    --shift: 1px;

    background-image:
            linear-gradient(-30deg,
            var(--r-clr-1), var(--r-clr-2), var(--r-clr-3), var(--r-clr-4), var(--r-clr-5), var(--r-clr-6), var(--r-clr-7),
            var(--r-clr-1), var(--r-clr-2), var(--r-clr-3), var(--r-clr-4), var(--r-clr-5), var(--r-clr-6), var(--r-clr-7),
            var(--r-clr-1), var(--r-clr-2), var(--r-clr-3), var(--r-clr-4), var(--r-clr-5), var(--r-clr-6), var(--r-clr-7),
            var(--r-clr-1), var(--r-clr-2), var(--r-clr-3), var(--r-clr-4), var(--r-clr-5), var(--r-clr-6), var(--r-clr-7),
            var(--r-clr-1), var(--r-clr-2), var(--r-clr-3), var(--r-clr-4), var(--r-clr-5), var(--r-clr-6), var(--r-clr-7),
            var(--r-clr-1));

    background-size: var(--size) var(--size);

    background-blend-mode: luminosity;

    background-position: calc(25% + (var(--pointer-x) / 2)) calc(25% + (var(--pointer-y) / 2));

    filter: brightness(var(--luminosity)) contrast(4) saturate(1.1);
}

.card__shine.mask {
    -webkit-mask-image: var(--mask);
    -webkit-mask-position: center;
    -webkit-mask-size: cover;
}

.card__shine.mask:before {
    background-image: none;
}

.card__shine:before {
    content: "";
    grid-area: 1/1;

    filter: invert(var(--invert));

    background-image: var(--foil);
    background-size: cover;
    background-position: center;
    opacity: calc(var(--pointer-from-center) * .4 + .4);
}

.card__glare {
    overflow: hidden;
    background-image: radial-gradient(
            farthest-corner circle at var(--pointer-x) var(--pointer-y),
            hsla(0, 0%, 100%, 0.8) 10%,
            hsla(0, 0%, 100%, 0.6) 20%,
            hsla(0, 0%, 0%, 0) 90%
    );
    border-radius: 4.55% / 3.5%;
    filter: brightness(.9) contrast(2);
    opacity: calc(var(--pointer-from-center) * .7);
    mix-blend-mode: hard-light;
}