#card {
    max-width: min(50vw, 300px);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card {
    transform: translate3d(0px, 0px, 0.01px);
    transform-style: preserve-3d;
}

.card__translater,
.card__rotator {
    display: grid;
    perspective: 600px;
    border: none;
    background: transparent;
    padding: 0;
    appearance: none;
}

.card__translater {
    width: auto;
    position: relative;
}

.card__rotator * {
    display: grid;
    grid-area: 1/1;
    width: 100%;
}

.card__rotator img {
    height: auto;

    border-radius: 4.55% / 3.5%;
    aspect-ratio: 0.718;
}

.card__rotator {
    transform: rotateY(var(--rotate-y)) rotateX(var(--rotate-x));
    transform-style: preserve-3d;

    border-radius: 4.55% / 3.5%;
    aspect-ratio: 0.718;
}

.card__shine {
    transform: translateZ(1px);
    overflow: hidden;

    mix-blend-mode: color-dodge;

    z-index: 3;
    opacity: var(--card-opacity);

    border-radius: 4.55% / 3.5%;

    --r-clr-1: hsl(0, 57%, 37%);
    --r-clr-2: hsl(40, 53%, 39%);
    --r-clr-3: hsl(90, 60%, 35%);
    --r-clr-4: hsl(180, 60%, 35%);
    --r-clr-5: hsl(180, 60%, 35%);
    --r-clr-6: hsl(210, 57%, 39%);
    --r-clr-7: hsl(280, 55%, 31%);

    --glitter: url("/img/glitter.png");

    --shift: 1px;

    background-image:
            linear-gradient(-45deg, var(--r-clr-1), var(--r-clr-5)),
            var(--glitter),
            linear-gradient(-30deg,
            var(--r-clr-1), var(--r-clr-2), var(--r-clr-3), var(--r-clr-4), var(--r-clr-5), var(--r-clr-6), var(--r-clr-7),
            var(--r-clr-1), var(--r-clr-2), var(--r-clr-3), var(--r-clr-4), var(--r-clr-5), var(--r-clr-6), var(--r-clr-7),
            var(--r-clr-1), var(--r-clr-2), var(--r-clr-3), var(--r-clr-4), var(--r-clr-5), var(--r-clr-6), var(--r-clr-7),
            var(--r-clr-1));

    background-size: 200% 200%,
    50% 50%,
    400% 400%;

    background-blend-mode: luminosity, soft-light;

    background-position: calc(25% + (50% * var(--pointer-from-left))) calc(25% + (50% * var(--pointer-from-top))),
    calc(50% - ((var(--shift) * 2) * var(--pointer-from-left)) + var(--shift)) calc(50% - ((var(--shift) * 2) * var(--pointer-from-top)) + var(--shift)),
    calc(25% + (var(--pointer-x) / 2)) calc(25% + (var(--pointer-y) / 2));

    filter: brightness(calc((var(--pointer-from-center)*0.5) + .75)) contrast(2) saturate(1);
}

.card__shine:before,
.card__shine:after {
    content: "";
    grid-area: 1/1;
    opacity: var(--card-opacity);
}

.card__shine:before {
    background-image: var(--foil);
    background-size: cover;
    background-position: center;
    opacity: var(--pointer-from-center);
}

.card.masked .card__shine,
.card.masked .card__shine:before,
.card.masked .card__shine:after {
    -webkit-mask-image: var(--mask);
    mask-image: var(--mask);
    -webkit-mask-size: cover;
    mask-size: cover;
    -webkit-mask-position: center;
    mask-position: center;
}

.card__glare {
    overflow: hidden;
    background-image: radial-gradient(
        farthest-corner circle at var(--pointer-x) var(--pointer-y),
        hsla(0, 0%, 100%, 0.8) 10%,
        hsla(0, 0%, 100%, 0.6) 20%,
        hsla(0, 0%, 0%, 0) 90%
    );
    border-radius: 4.55% / 3.5%;
    filter: brightness(.9) contrast(2);
    opacity: calc(var(--pointer-from-center) * .9);
    mix-blend-mode: hard-light;
}